# Set
**Sets are used to store multiple items in a single variable.

**A set is a collection which is unordered, unchangeable*, and unindexed and cannot be referred to by index or key.

**Do not allow duplicate values.

**Set enclosed in -{}

# Methods used

**len()
type()
in
add()
update()
remove()
discard()
clear()

del
pop()

**union()____ |
intersection()_____ &
intersection_update()
difference()________   "-"
difference_update()
symmetric_difference()_____ ^

In [4]:
x={1,"kalyani","green color",500}
print(x)
print(len(x))
print(type(x))

{1, 500, 'green color', 'kalyani'}
4
<class 'set'>

#  Access Set Items


**You cannot access items in a set by referring to an index or a key.

**But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [11]:
x={1,2,3,4}
for i in x:
    print(i)
print(5 in x)

1
2
3
4
False

# Add Items

**Once a set is created, you cannot change its items, but you can add new items.

**To add items from another set into the current set, use the update() method.

In [15]:
x={1,2,3,4,5}
x.add(9)
y={6,7,8}
x.update(y)
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Remove Item

**To remove an item in a set, use the remove(), or the discard() method.

**remove()-If the item to remove does not exist, remove() will raise an error.

**discard()- If the item to remove does not exist, discard() will NOT raise an error.

In [17]:
a={5,6,7,8,9,10}
a.remove(6)
print(a)

{5, 7, 8, 9, 10}

In [19]:
s={1,2,3,4,5}
s.discard(3)
print(s)

{1, 2, 4, 5}

In [18]:
b={5,6,8,9}
b.remove(3)

KeyError: 3

In [20]:
b={5,6,8,9}
b.discard(3)

# pop
**You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

**The return value of the pop() method is the removed item.

In [21]:
t={22,55,66,88,99}
t.pop()

66

**The clear() method empties the set
**The del keyword will delete the set completely

In [22]:
c={1,2,3,4,5}
c.clear()
print(c)

set()

In [24]:
c={1,2,3,4,5}
del c
print(c)

NameError: name 'c' is not defined

# Join Sets

The union() and update() methods joins all items from both sets.
 Both union() and update() will exclude any duplicate items.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

# union

**The union() method returns a new set with all items from both sets.
You can use the | operator instead of the union() method, and you will get the same result.


**The union() method allows you to join a set with other data types, like lists or tuples.
The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

In [25]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 'b', 2, 3, 'c'}

In [26]:
s1={1,2,3}
s2={5,6,7,8}
s3=s1|s2
print(s3)

{1, 2, 3, 5, 6, 7, 8}

In [27]:
#joining Multiple sets
s1={1,2,3}
s2={"a","b","c"}
s3={5.55,6.66,3.33}
s4=s1|s2|s3
print(s4)

{1, 2, 3, 3.33, 5.55, 6.66, 'a', 'b', 'c'}

In [28]:
s1={1,2,3}
t1=(5,6,7)
s2=s1.union(t1)
print(s2)

{1, 2, 3, 5, 6, 7}

# Update

**The update() method inserts all items from one set into another.
The update() changes the original set, and does not return a new set.

In [29]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'a', 'b', 2, 3, 'c'}

# Intersection

Keep ONLY the duplicates

**The intersection() method will return a new set, that only contains the items that are present in both sets.
The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

In [31]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [33]:
s1={1,2,3}
s2={4,5,3,6}
s3=s1&s2
print(s1&s2)

{3}

**The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

# Difference
The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [35]:
s1={1,2,3,4,5}
s2={4,5,6,7,8,9}
s3=s1.difference(s2)
print(s2.difference(s1))
print(s3)

{8, 9, 6, 7}
{1, 2, 3}

In [36]:
s1={88,99,100}
s2={6,88,9}
s3=s1-s2
print(s3)

{99, 100}

**The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [37]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

# Symmetric Differences
The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [38]:
s1={1,2,3,4,5}
s2={6,4,5,8,9}
s3=s1.symmetric_difference(s2)
print(s3)

{1, 2, 3, 6, 8, 9}

# Method	Shortcut	Description

add()	 	Adds an element to the set

clear()	 	Removes all the elements from the set

copy()	 	Returns a copy of the set

difference()	-	Returns a set containing the difference between two or more sets

difference_update()	-=	Removes the items in this set that are also included in another, specified set

discard()	 	Remove the specified item

intersection()	&	Returns a set, that is the intersection of two other sets

intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)

isdisjoint()	 	Returns whether two sets have a intersection or not

issubset()	<=	Returns whether another set contains this set or not

 	<	Returns whether all items in this set is present in other, specified set(s)
    
issuperset()	>=	Returns whether this set contains another set or not

 	>	Returns whether all items in other, specified set(s) is present in this set
    
pop()	 	Removes an element from the set

remove()	 	Removes the specified element

symmetric_difference()	^	Returns a set with the symmetric differences of two sets

symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another

union()	|	Return a set containing the union of sets

update()	|=	Update the set with the union of this set and others